
@if(isLoading) {
   <app-loader></app-loader>
} @else {
  <h1> Admin  Dashboard </h1>
  <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th> 
          <th scope="col"></th> 
          <th scope="col"></th> 
        </tr>
      </thead>
      <tbody>
        @for(user of Users; track user._id) {
        <tr> 
          <td>{{user.fullname}}</td>
          <td>{{user.email}}</td>
          <td>{{user.role}}</td>
          <td><button class="btn btn-success" [routerLink]='["/admin/updateUser/" , user._id]'>Edit</button></td>
          <td><button class="btn btn-danger" (click)="DeleteUser(user._id)">Delete</button></td>
        </tr>
      }
        
      </tbody>
    </table>
  }